<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div><a class="navbar-brand"  style="font-size:32px;">知书后台管理系统</a></div>
        </div>
    </div>
</nav>

<div class="container">

    <form class="form-signin" id="ff" role="form" method="post">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-user"></i> 管理员登录</h2>
        <div class="form-group has-success has-feedback">
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入登录账号" autofocus>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="password" class="form-control" id="pass" name="pass" placeholder="请输入登录密码"
                   style="margin-top:10px;">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
<!--            <select class="form-control">-->
<!--                <option value="user">会员</option>-->
<!--                <option value="member">管理</option>-->
<!--            </select>-->
        </div>
        <!--<div class="checkbox">
            <br>
        </div>-->
        <a class="btn btn-lg btn-success btn-block" id="sub"> 登录</a>
    </form>
</div>
<script src="../static/jquery/jquery-2.1.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#sub').click(function () {
            var name=$('#name').val();
                    sessionStorage.setItem("name",name);
                $.post("checkName",
                    {"name": $('#name').val(), "pass": $('#pass').val()},
                    function (data) {
                        if (parseInt(data) == 1) {
                            location.href ="checkNames";
                        } else {
                            alert("帐号或密码有误，请核对！！！")
                        }
                    });
        });

    });


</script>
</body>
</html>